.nav-item{
    padding:2px;
    margin-left: 7px;
}
.fill-remaining-space {
    /*This fills the remaining space, by using flexbox.  
   Every toolbar row uses a flexbox row layout. */
   flex: 1 1 auto;
 }