<!-- <div class="row">
    <div class="col-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-success"
                        [disabled]="!recipeForm.valid">Save</button>
                    <button type="button" class="btn btn-danger">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" formControlName="name"
                            class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="imagePath">Image URL</label>
                        <input type="text" id="imagePath"
                            formControlName="imagePath" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <img src="" class="img-thumbnail" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea type="text" id="description"
                            formControlName="description" class="form-control"
                            rows="6"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12" formArrayName="ingredients">
                    <div class="row mt-2"
                        *ngFor="let ingredientCtrl of recipeForm.get('ingredients')['controls']; let i = index"
                        [formGroupName]="i">
                        <div class="col-7">
                            <input type="text" class="form-control"
                                formControlName="name">
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control"
                                formControlName="amount">
                        </div>
                        <div class="col-2">
                            <button class="btn btn-danger">X</button>
                        </div>
                    </div>
                    <hr>
                    <div class="row mt-2">
                        <div class="col-12">
                            <button class="btn btn-success" type="button"
                                (click)="onAddIngredient()">Add
                                ingredient</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div> -->
<h1>Recipe Edit</h1>

<form #postForm="ngForm" (ngSubmit)="onCreateRecipe(postForm.value)"
    class="recipe-form-container">
    <mat-form-field>
        <input matInput placeholder="title" type="text" id="title" required
            ngModel name="title">
    </mat-form-field>

    <br>
    <mat-form-field>
        <textarea matInput placeholder="description" id="description" required
            ngModel name="description"></textarea>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Status">
            <mat-option value="OPEN">Open</mat-option>
            <mat-option value="IN_PROGRESS">In progress</mat-option>
            <mat-option value="DONE">Done</mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit"
        [disabled]="!postForm.valid">
        Save Recipe
    </button>
    
</form>
