<div class="jumbotron" style="background-color: #fff; height: calc(95vh);">
    <h1 class="display-4">Angular Bootstrap Demo</h1>
    <p class="lead">
        This site is all about cooking and nutrition !
    </p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    <br>
    <input type="text" [(ngModel)]="name">
    <p>{{name}}</p>
    <ngb-tabset>
        <ngb-tab title="Home">
            <ng-template ngbTabContent>
                <p>
                    Home content
                </p>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle><b>Profile</b> details</ng-template>
            <ng-template ngbTabContent>
                <h3>Profile title</h3>
                <p>Profile content.</p>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Contact">
            <ng-template ngbTabContent>
                <p>
                    Contact content.
                </p>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>